# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://sitjsjdprtukoesdikze.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpdGpzamRwcnR1a29lc2Rpa3plIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNzc4NzUsImV4cCI6MjA5Mjc1Mzg3NX0.JE5THsOgpGnlt1FmtdVAymGk4IuInv6uaGkkgj3MuqI
